<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>Dear valued customer</h1>
  <h2>Thank you for your Order!</h2>
  <h3>Here are the details</h3>
  <!-- <p>Order id <%= @order.id %></p>
  <%# debug @order.inspect %>
  <%# debug @order.inspect %>
  <%# @order.line_items.each do |item| %>
  <hr>
  <p>Product <%# item.product %></p>
  <%# end %>

  <p>Thanks again for your order on Jungle!</p> -->

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <%  @order.line_items.each do |item| %>
        <tr>
          <td>
            <%= item.product.name %>
          </td>
          <td>
            <%= item.product.price %>
          </td>
          <td>
            <%= item.quantity %>
          </td>
          <td>
            <%= (item.quantity.to_i * item.product.price) %>
          </td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">
            TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>

    <div class="order-summary jumbotron">
      <h4>Thank you for your order, <%= @order.email %> !</h4>
    </div>

  </div>
</body>

</html>